:root{
    /* Colors */
    --primary-color: #017B81 ;
    --primary-color-hover: #07949b;
    --secondary-color: #810701;
    --secondary-color-hover: #960b09;
    --breacrumb-color: #ccc;
    --breadcrumb-contrast-color: #333;
    --light-color: #f4f4f4;
    --white-color: #fff;
    --black-color: #000;

    /* Measurements */
    --header-title-gap: 0.5rem;

}

html{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

/**************************** Global *********************************/
body{
    background-color: var(--light-color); 
}

.bg-primary-color{
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
    border-color: var(--primary-color) !important;
}

.bg-primary-color:hover{
    background-color: var(--primary-color-hover) !important;
}

.bg-secondary-color{
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
    border-color: var(--secondary-color) !important;
}

.bg-secondary-color:hover{
    background-color: var(--secondary-color-hover) !important;
}

.bold{
    font-weight: bold;
}

.numbers{
    font-family: 'Open Sans', sans-serif;
}

/**************************** Navbar *********************************/
.navbar{
    min-height: 3rem !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    background-color: var(--primary-color) !important;
    font-size: 1.2rem;
}

.navbar-nav li a{
    padding: 1.2rem 0.5rem !important;
}

.navbar-nav li a:hover{
    background-color: var(--primary-color-hover);
}

/**************************** Header *********************************/
header{
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--white-color);
}

header h1{
    font-size: 2rem;
}

header small{
    font-size: 1.2rem;
}

header .btn{
    background-color: var(--primary-color) !important;
}

header .btn:hover, .dropdown a:hover{
    background-color: var(--primary-color-hover) !important;
    color: var(--white-color) !important;
}

/**************************** Breadcrumb *********************************/
.breadcrumb{
    margin-top: 1rem;
    padding: 1.1rem;
    background-color: var(--breacrumb-color);
    color: var(--breadcrumb-contrast-color);
}

/**************************** Main ***************************************/
.main i span{
    font-family: 'Raleway', sans-serif !important;
}

.main .list-group .active{
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
}

.main .list-group .badge{
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 0.5rem;
    font-weight: bold !important;
    
}

.main h4{
    margin: 0.5rem 0;
}

.progress{
    margin: 0.5rem 0 !important;
    font-size: 0.9rem;
}

.progress .progress-bar{
    padding: 0.2rem !important; 
}

.main .breadcrumb{
    margin-top: 0; 
}

.main .card-body{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    font-size: 1.2rem;
}

.main .card-body .bold{
    margin: 1rem 0;
}

/**************************** footer ***************************************/
footer{
   background-color: var(--secondary-color);
   color: var(--white-color);
   padding: 2rem;
   text-align: center;
   margin-top: 2rem; 
}

/**************************** addPage Modal ***************************************/
#addPage .checkbox{
    margin: 1rem 0;
}

#addPage label{
    margin-bottom: 0.5rem;
}

/**************************** addPost Modal ***************************************/
#addPost #attach{
    margin: 0.5rem 0;
}

#addPost #attach i{
    margin: auto 0.5rem;
}

/**************************** addUser Modal ***************************************/
#addUser label{
    margin: 0.5rem 0;
}

/**************************** pages.html Main ***************************************/
#filter-page{
    margin-bottom: 1rem;
}

/*************************** posts.html Main ****************************************/
#eye{
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

/**************************** Media Queries ***************************************/
 
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #header-title{ 
        margin-bottom: var(--header-title-gap) !important;
    }    
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #header-title{ 
        margin-bottom: var(--header-title-gap) !important;
    } 
}

/* Medium devices (tablets, less than 992px) 
@media (max-width: 991.98px) { 

}*/

/* Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}*/
