:root{
    --primary-color: #316fbd;
    --primary-color-hover: #3b80d7;
    --secondary-color: #BD7F31;
    --light-color: #f4f4f4;
    --white-color: #fff;
    --black-color: #000;
}

html{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

/**************************** Global *********************************/
body{
    background-color: var(--light-color); 
}

/**************************** Navbar *********************************/
.navbar{
    min-height: 3rem !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    background-color: var(--primary-color) !important;
    font-size: 1.2rem;
}

.navbar-nav li a{
    padding: 1.2rem 0.5rem !important;
}

.navbar-nav li a:hover{
    background-color: var(--primary-color-hover);
}

/**************************** Header *********************************/

header{
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--white-color);
}

header h1{
    font-size: 2rem;
}

header small{
    font-size: 1.2rem;
}

header .btn{
    background-color: var(--primary-color) !important;
}

header .btn:hover, .dropdown a:hover{
    background-color: var(--primary-color-hover) !important;
    color: var(--white-color) !important;
}






